.form{
    text-align: center;
}

form{
    height: 50vh;
    width: 50vh;
    border: 2px solid red;
    padding: 20px;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

