body{
    background-color: #F8F8FF;
}

.head{
   
    color: white;
    border-radius: 15px;
    width: 100%;
    height: 90px;
    margin-bottom: 50px;
    
}

.head > h1 {
    padding: 30px 15px 30px;
    font-family:  Monolith Light Italic Freebie;
    font-size: 40px;
    background: #808000;
}

.p{
    font-size: 25px;
    font-weight: bold;
    color: #003580;
    margin-bottom: 10px;
    text-align: center;
    font-family:  Monolith Light Italic Freebie;;
}


.formulaire{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2px;
}


form{
    justify-content: center;
    align-items: center;
    width: 430px;
    height: 400px;
    border: 2px solid black;
    padding: 20px;
    margin-bottom: 20%;
    border-radius: 10px;
}

button{
    font-size: 20px;
    margin-top: 8px;
    padding: 2%;
    background-color: #003580;;
    border-radius: 15px;
    border: none;
    color: #ffff;
    cursor: pointer;
    width: 35%;
	height: 40px;
    font-family:  Monolith Light Italic Freebie;
}

.passeport{
    margin-top: 30px;
    display: flex;
}

.passeport > div{
  
    width: 150px;
    border-radius: 3px;
    padding: 5px 10px 10px 5px;
    background-color: grey;
    color: black;
    text-align: center;
}

.passeport >div:hover{
    background-color: rgba(255,255,255,0.47);
}

.passeport .fb{
    margin-left: 25px;
}
 
.label{
    font-family: monaco;
}