.slideContainer {
  height: 500px;
  width: auto;
  object-fit: cover;
  background-position: 50% 30%;
  display: center;
  

}

.slideImages{
  height: 300px;
  

 
}

.indicators{
display: flex;
justify-content: flex-end;
  }