.access{
    display: flex;
    background: #A3AAAF;
    width: 100%;
    justify-content: space-between;
    height: 60px;
    align-items: center;
}

.imgs > img{ 
    width: 50px;
    height: auto; 
    margin:auto;
    justify-content: space-around;
}

.imgs{
    align-items: center;
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
}

.access > a{
    text-decoration: none;
    padding: 20px;
    font-size: 17px;
    color: white;
}

.imgs > p {
    font-family: Monolith Light Italic Freebie;
    font-size: 21px;
}
