.access{
    display: flex;
    background: #A3AAAF;
    width: 100%;
    justify-content: space-between;
    height: 50px;
}

.imgs > img{ 
    width: 50px;
    height: auto; 
    margin:auto;
}

.imgs{
    align-items: center;
    display: flex;
}

