nav{
    height: 300px;
}




.liste{
    list-style-type: none;
    background: rgb(5, 149, 233);
    height: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 30px;
    
   
}

.items{
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.items > link{
    color: white;
}

.navbar-logo{
    width: 5rem;
    height: 2rem;
    margin-right: 0.5rem;
}