/*.form{
    text-align: center;
}
 
h1{
    color:lightskyblue;
    font-size: 70px;
    
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    
}
form{
    height: 50vh;
    width: 50vh;
    border: 2px solid red;
    padding: 20px;
    border-radius: 10px;
}

.form-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    padding: auto;
    margin: auto;
    margin-top: 70px;
}
 input{
     width: 100px;
     margin-top: 90px;
     padding: 2%;
     border: 2px solid;
     border-radius: 15px;
     color: blue
 }*/

 .head{
    background: #003580;
    color: white;
    border-radius: 15px;
    width: 100%;
    height: 90px;
    margin-top: 20px;
}

.head > h1 {
    padding: 30px 15px 30px;
   
}


 .ctn-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    border-radius: 20px;
    
  
}

input{
    border: 2px solid;
    border-radius: 15px;
    color: black;
}

form{
    width: 430px;
    height: 400px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20%;
}

button{
    font-size: 1.3em;
    margin-top: 8px;
    padding: 2%;
    background-color: #003580;;
    border-radius: 15px;
    border: none;
    color: #ffff;
    cursor: pointer;
    width: 35%;
	height: 40px;
}

label{
    display: block;
    text-align: center;
    padding: 0.25em;
}

.form-input{
    padding-bottom: 20px;
}

.passeport{
    margin-top: 30px;
    display: flex;
}

.passeport > div{
  
    width: 150px;
    border-radius: 3px;
    padding: 5px 10px 10px 5px;
    background-color: grey;
    color: black;
    text-align: center;
}

.passeport >div:hover{
    background-color: rgba(255,255,255,0.47);
}

.passeport .fb{
    margin-left: 25px;
}