body{
     margin:0px;
}

.carte{
    display: flex;
    padding: 10px;
}


.blog{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.blog > img {
    width: auto;
    height: 500px; 
    margin: auto;
    margin-top: 30px;
}
.blog >h4{
    color: #003580;
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    font-family:  Monolith Light Italic Freebie;
}

h5{
    color: #808000;
    font-weight: bold;
    font-size: 25px;
    margin-left: 1.5em;
}
article > p{
    font-family: monaco;
    font-size: 15px;
    margin-left: 1.5em;
    line-height: 1.5;
}

.blog >.cese{
    height: 300px;
    width: 250px;
    margin: auto;
    display: flex;
    text-align: center;
}