.component,a,.loue{
  color:#003580;
}

img{
    height: 300px;
    width: 100%;  
    margin-top: 15px;
}



.activity{
    display: flex;
    justify-content: space-around;
    height: 500px;
    width: 100%; 
    margin-bottom: 40px;
    text-align: center;
}

.activity img{
  box-shadow: 10px 5px 5px rgb(169, 169, 169);
}

h3, h2{
    text-align: center;
    color: #003580;
    font-size: 30px;
    
}

.carnaval{
    display: flex;
    justify-content: space-around;
    height: 500px;
    width: 100%; 
    margin-bottom: 40px;
    text-align: center;
}

.carnaval > img{
    box-shadow: 10px 5px 5px red;
    height: 300px;
    margin-left: 120px;
    margin-right: 500px; 
}

.textcarnaval {
  text-align: start;
  padding-right: 80px;
}

.location > img{
    display: flex;
    max-height: 40px;
   max-width: 40px;
}

.location p{
    font-weight: bold;
    font-size: 18px;
}

.activity a{
    font-size: 20px;
    color: black;
    font-weight: bold;
    text-decoration: none;
}