img{
    height: 500px;
    width: 100%;  
}

h2{
    text-align: center;
    color:darkblue;
}

.carre{
    display: flex;
    justify-content: space-around;
    height: 500px;
    width: 100%; 
    margin-bottom: 40px;
}

h3{
     align-items: flex-end;
}
