h1 {
    text-align: center;
    color: white;
    background: darkblue;
    margin: auto;
}

.thejets{
    display: flex;
    flex-direction: column;
    margin: auto; 
    justify-content: center; 
}

button{
    background: darkblue;
    color: white;
}