h1 {
    text-align: center;
    color: white;
    background: #808000;
    font-family:  Monolith Light Italic Freebie;;
    margin: auto;
    padding-top: 15px;
    margin-top: 10px;
}

.jet{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.listing{
    width: 100%;
    background:lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.reservation-button{
    font-size: 20px;
    margin-top: 8px;
    /* padding: 2%; */
    background-color: #003580;;
    border-radius: 10px;
    border: none;
    color: #ffff;
    cursor: pointer;
	height: 40px;
    font-family:  Monolith Light Italic Freebie;
    width: 100%;
}
