h1 {
    text-align: center;
    color: white;
    background: #003580;
    margin: auto;
    padding-top: 15px;
    
}

.thejets{
    display: flex;
    flex-direction: column;
    margin: auto; 
    justify-content: center; 
}

button{
    background: dar;
    color: white;
}

.jet > div{
   padding-left: 40px;
   background:lightgray;
   margin: 10px;
}