.demi{
    align-items: center;
    justify-content: center;
    background: lightgray;
    color: #003580;
    margin: 0 auto;
    display: flex;  
    margin-top: 20px;
    font-size: 24px;
}

.block1{
    position: relative;
    width: 900px;
    margin: 0 auto;
    padding: 20px; 
    margin-top: 15px;  
}

.pictures{
    display: flex;
    margin-bottom: 70px;
}

.pictures > img{
    max-width: 300px;
    max-height: 200px;
    margin: 0 auto;   
}

.text{
    line-height: 30px;
    text-align: center;
    background: lightgray;
    color: white;
    margin: auto;
}

a > button{
    width: 35%;
	height: 40px;
}